

/* Sticky Navbar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra para dar profundidad */
    transition: background-color 0.3s ease-in-out;
}

/* Fondo al hacer scroll */
.navbar.sticky-active {
    background-color: #f8f9fa;
    /* Cambia el color al hacer scroll */
}

/* Brand */
.navbar-brand {
    font-weight: bold;
    color: #007bff;
    font-size: 1.25rem;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #0056b3;
    text-decoration: none;
}

/* Navbar links */
.nav-link {
    color: #333;
    font-weight: 500;
    margin-left: 15px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #007bff;
    text-decoration: none;
}

/* Cambiar color de la hamburguesa en pantallas pequeñas */
.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 123, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 991px) {
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
}