/* Estilos personalizados para el navbar */
.navbar.lista_aplicaciones {
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
    padding-top: 0.5rem; /* Ajuste de padding superior */
    padding-bottom: 0.5rem; /* Ajuste de padding inferior */
}

/* Ajuste de padding en el container dentro del navbar */
.navbar .container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Cambiar fondo al hacer scroll */
.navbar.lista_aplicaciones.sticky-active {
    background-color: #f8f9fa;
}

/* Brand */
.navbar-brand.lista_aplicaciones-brand {
    font-weight: bold;
    color: #007bff;
    font-size: 1.25rem;
    transition: color 0.3s ease;
}

.navbar-brand.lista_aplicaciones-brand:hover {
    color: #0056b3;
    text-decoration: none;
}

/* Navbar links */
.nav-link.lista_aplicaciones-link {
    color: #333;
    font-weight: 500;
    margin-left: 15px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    transition: color 0.3s ease;
}

.nav-link.lista_aplicaciones-link:hover {
    color: #007bff;
    text-decoration: none;
}

/* Cambiar color de la hamburguesa en pantallas pequeñas */
.navbar-toggler.lista_aplicaciones-toggler {
    border: none;
}

.navbar-toggler-icon.lista_aplicaciones-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 123, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 991px) {
    .navbar-toggler-icon.lista_aplicaciones-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
}
